/* ============================================================================
   FOOTER
   ========================================================================= */

.c-footer {
    background-color: $g-color-grey-light;
    padding-top: rem($shell-g-spacing-2x-large);
}

.c-footer-link-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: rem($shell-g-spacing-2x-large);
}

.c-footer__svg-border {
    align-items: center;
    background-color: $g-color-blue;
    border-radius: 50%;
    color: $g-color-white;
    display: flex;
    justify-content: center;
    padding: rem($shell-g-spacing);

    &:hover,
    &:focus {
        background-color: $g-color-white;
        color: $g-color-blue;
        transition: background-color 0.1s ease-in, color 0.2s ease-in;
    }
}

.c-footer__svg {
    height: rem($shell-g-spacing-x-large);
    width: rem($shell-g-spacing-x-large);
}

.c-footer__copyright {
    align-items: center;
    display: flex;
    font-size: rem($shell-g-font-size-2x-small);
    justify-content: center;
    padding-bottom: rem($shell-g-spacing-2x-small);
}

.c-footer__copyright-svg {
    height: rem($shell-g-spacing-small);
    margin-right: rem($shell-g-spacing-x-small);
    width: rem($shell-g-spacing-small);
}

.l-container-from-mobile {
    max-width: rem($shell-container-maximum-width-large);
    min-width: rem($shell-container-minimum-width);
    padding-left: rem($shell-container-gutter);
    padding-right: rem($shell-container-gutter);
    width: 100%;

    @if $shell-container-apply-center-alignment {
        margin: 0 auto;
    }
}


@media (min-width: 75em) {
    .l-container-from-lap {
        max-width: rem($shell-container-maximum-width);
    }
}
