/* ============================================================================
   TYPOGRAPHY
   ========================================================================= */


.c-title,
.c-sub-title,
.c-additional-info,
.c-summary {
    text-align: center;
}

.c-title {
    font-size: rem($shell-g-font-size-2x-large);
}

.c-sub-title {
    color: $g-color-grey;
    font-size: rem($shell-g-font-size);
    font-weight: 300;
    letter-spacing: rem(1);
    text-transform: uppercase;
}

.c-code-tag {
    color: $g-color-grey;
    font-weight: 300;
    margin-left: rem($shell-g-spacing-2x-small);
    margin-right: rem($shell-g-spacing-2x-small);
}

.c-code-tag--light {
    color: rgba($g-color-white, 0.8);
}

.c-additional-info {
    font-size: rem($shell-g-font-size-2x-small);
    font-style: italic;
}
