/* ============================================================================
    SETTINGS
   ========================================================================= */

$g-color-grey-light: #CFD8DC;
$g-color-grey: #b3bdc2;
$g-color-white: #fff;
$g-color-blue: #0ac;
$g-border: 1px solid $g-color-grey;
$g-border-radius: 3px;
